#bot{
    float: right;
    border-radius: 25px;
     
    width: 400px;
    height: 700px;
    background-color: #FCD015;
    border: solid 1px  yellow;
    
}
iframe{
    padding-top: 50px;
    padding-left: 30px;
    background-color: #FCD015;
    border-radius: 20px;
    
}
body {
    background-color:black;
    font-family: 'Charmonman', cursive;
    color: #FCD015;
    font-size: 30px;
    
}
.list{
    float: left;
    padding: 200px;
    font-weight: 100;
}